In [1]:
import tensorflow as tf

2023-09-08 20:47:10.179531: I tensorflow/stream_executor/platform/default/dso_loader.cc:49] Successfully opened dynamic library libcudart.so.10.1

In [3]:
import requests

# Define the API URL
api_url = "http://192.168.0.201:4000/api/v0/ubbets/totalcount/"

# Make the API request
response = requests.get(api_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the JSON response into a dictionary
    data = response.json()
    print("API response:")
    print(data)
else:
    print(f"API request failed with status code {response.status_code}")

API response:
{'ubbets_count': 94712}

In [5]:
import requests

# Define the API URL
api_url = "http://192.168.0.201:4000/api/v0/ubbets/details/"

# Make the API request
response = requests.get(api_url)

# Check if the request was successful (status code 200)
if response.status_code == 200:
    # Parse the JSON response into a dictionary
    data = response.json()
else:
    print(f"API request failed with status code {response.status_code}")

In [7]:
import sys
# Calculate the size of the 'data' dictionary in bytes
print(sys.getsizeof(data))

# Define the number of entries you want to print (e.g., first 3)
num_entries_to_print = 3

# Iterate through the dictionary and print the entries
for key, value in data.items():
    print(f"{key}: {value}")
    num_entries_to_print -= 1
    
    # Break the loop when the desired number of entries is reached
    if num_entries_to_print == 0:
        break

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [15]:
import pandas as pd

# Convert the dictionary to a Pandas DataFrame
df = pd.DataFrame.from_dict(data)

df.iloc[0]

ubbets    [m8Ept5t7cpuUuRcyhudt, YwtpmFHqEZuUiIKtXyFN, -...
Name: 0, dtype: object

In [22]:
# Convert the list of entries to a Pandas DataFrame
df = pd.DataFrame(data['ubbets'])

df.head()

,0,1,2,3,4,5,6,7
0,m8Ept5t7cpuUuRcyhudt,YwtpmFHqEZuUiIKtXyFN,-74.003625,1693135602227,"[{'amount': -74.00362467398847, 'isSale': True...",YES,5JTjLRLqurS67gwM9RDIIggfzBz1,None
1,ejODbxrzgZ3Iqtj6zFAH,yOLdeZ0n3AttIJ0wCQE1,35.000000,1692184973366,"[{'amount': 19.169853923684464, 'matchedBetId'...",NO,AA10TMBdN9ZxXOP7pRECfuzhqMW2,None
2,Tg0gF61b8p2X8IdVufRG,lbmIuDpuJhBLjFoCphJt,100.000000,1692283495374,"[{'amount': 100, 'matchedBetId': None, 'shares...",NO,BhNkw088bMNwIFF2Aq5Gg9NTPzz1,None
3,y8E5WqkIHkpWXyS561v0,U03M56KRCKzXfmB3CuC0,10.000000,1693312921576,"[{'amount': 10, 'matchedBetId': None, 'shares'...",NO,kB8B9wkkCeRj0a3rvri2ZzZxhpN2,None
4,6LzyyDtI7hgb2ALilJLb,kIl20PfgaUtyCKCDsSeI,3.540660,1693472867387,"[{'amount': 3.5406598716457145, 'matchedBetId'...",YES,BhNkw088bMNwIFF2Aq5Gg9NTPzz1,None